<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{!--! Styles --}}
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/product-detail.css">
  {{!--
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {{!--! Icon --}}
  <script src="https://kit.fontawesome.com/e39677c136.js" crossorigin="anonymous"></script>
</head>

<body>
  {{!--! HEADER SECTION --}}
  <header class="container-fluid" id="header">
    {{!-- Left side --}}
    <section class="left-section">
      <a href="/">
        <i class="fa-solid fa-cubes fa-xl"></i>
        Toytopia
      </a>
    </section>
    {{!-- Middle side --}}
    <section class="middle-section">
      <i class="fa-solid fa-magnifying-glass"></i>
      <form action="/figure/search" method="post">
        <input class="search-bar" type="search" name="keyword" placeholder="Search products" required>
      </form>
    </section>
    {{!-- Right side --}}
    <section class="right-section">
      <button class="add-button" id="optionsButton">
        <i class="fa-solid fa-square-plus"></i>
        Add a product
      </button>
      <div id="overlay">
        <div id="optionsBox">
          <p>Select a category:</p>
          <ul>
            <li>
              <a class="category-link" href="/figure/add">Figure</a>
            </li>
            <li>
              <a class="category-link" href="/lego/add">Lego</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </header>

  {{!--! MAIN SECTION --}}
  <main>
    {{{body}}}
  </main>

  {{!--! FOOTER SECTION --}}
  <footer class="site-footer">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-8">
          <h6>Toytopia</h6>
          <p>Toytopia is the ultimate e-commerce destination for all your shopping needs. With a
            vast selection of products from various categories, we offer competitive prices, reliable shipping, and
            exceptional customer service. Shop with us today and experience the convenience of stress-free online
            shopping.</p>
        </div>

        <div class="col-xs-6 col-md-4">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Contact us</a></li>
            <li><a href="">All Product</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
            <a href="#">Toytopia</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>